<div class=""wrapper>
	<div class="menuIcon" ng-click="toggleMenu($event)"></div>
	<div class="menuContent" ng-show="menuOpened">
        <div class="menuList">
			<div class="menuHeader">Home Pages</div>
			<div class="menuPointWrapper">
				<span class="commonSignStyle starSign invertImageColor"></span>
				<div class="point">Add a new page</div>
			</div>
			<div class="menuPointWrapper">
				<span class="commonSignStyle starSign invertImageColor"></span>
				<div class="point">Home</div>
			</div>
			<div class="menuHeader">CCH Mobile Functions</div>
			<div class="menuPointWrapper">
				<span class="commonSignStyle newsSign"></span>
				<div class="point">News & Alerts</div>
			</div>
			<div class="menuPointWrapper">
				<span class="commonSignStyle toolsSign"></span>
				<div class="point">Smart Charts & Tools</div>
			</div>
			<div class="menuPointWrapper" ng-click="openCitations()">
				<span class="commonSignStyle citationSign invertImageColor"></span>
				<div class="point">Citation Look-ups</div>
			</div>
			<div class="menuPointWrapper">
				<span class="commonSignStyle researchSign"></span>
				<div class="point">Research Folders</div>
			</div>
			<div class="menuPointWrapper">
				<span class="commonSignStyle documentSign"></span>
				<div class="point">Document Notes</div>
			</div>
			<div class="menuPointWrapper">
				<span class="commonSignStyle historySign"></span>
				<div class="point">History</div>
			</div>
			<div class="menuPointWrapper">
				<span class="commonSignStyle feedbackSign invertImageColor"></span>
				<div class="point">Feedback & Help</div>
			</div>
			<div class="menuPointWrapper">
				<span class="commonSignStyle settingsSign invertImageColor"></span>
				<div class="point">Settings</div>
			</div>
			<div class="menuPointWrapper">
				<span class="commonSignStyle termsSign"></span>
				<div class="point">Terms & Conditions</div>
			</div>
        </div>
	</div>
</div>