<div>
	<div class="menuIcon" ng-click="toggleMenu($event)"></div>
	<div id="menuContent" class="menuContent">
			<ul class="menuList">
				<li class="menuHeader">Home Pages</li>
				<li>
					<span class="commonSignStyle starSign invertImageColor"></span>
					Add a new page
				</li>
				<li>
					<span class="commonSignStyle starSign invertImageColor"></span>
					Home
				</li>
				<li class="menuHeader">CCH Mobile Functions</li>
				<li>
					<span class="commonSignStyle newsSign"></span>
					News & Alerts
				</li>
				<li>
					<span class="commonSignStyle toolsSign"></span>
					Smart Charts & Tools
				</li>
				<li ng-click="openCitations()">
					<span class="commonSignStyle citationSign invertImageColor"></span>
					Citation Look-ups
				</li>
				<li>
					<span class="commonSignStyle researchSign"></span>
					Research Folders
				</li>
				<li>
					<span class="commonSignStyle documentSign"></span>
					Document Notes
				</li>
				<li>
					<span class="commonSignStyle historySign"></span>
					History
				</li>
				<li>
					<span class="commonSignStyle feedbackSign invertImageColor"></span>
					Feedback & Help
				</li>
				<li>
					<span class="commonSignStyle settingsSign invertImageColor"></span>
					Settings
				</li>
				<li>
					<span class="commonSignStyle termsSign"></span>
					Terms & Conditions
				</li>
			</ul>
		<div class="additionalMenuBGColor"></div>
	</div>
</div>