<div id="searchResultContentId" class="searchResultContent">
    <div ng-repeat="cluster in clusters" ng-show="searchComplete">
        <div class="clusterHeader">
            <div class="clusterTitle">{{cluster.title}}
                <a class="clusterTotalResultsLink" href="">View All ({{cluster.totalResults}})</a>
            </div>
        </div>
        <div class="clusterDetailsWrapper" ng-repeat="item in cluster.items">
            <div class="clusterDetailsTitle">{{item.Title}}</div>
            <div class="clusterDetailsSummary" ng-bind-html="item.Summary | to_trusted"></div>
        </div>
    </div>
</div>