<div id="mainContentSearchPage" class="mainContentOfThePage">
    <breadcrumb-view></breadcrumb-view>
    <div class="sortingStripe">
        <div class="floatLeft italicText" ng-if="!searchComplete">Searching for&nbsp;</div>
        <div class="floatLeft" ng-if="searchComplete">{{totalResults}}<span class="italicText">&nbsp;results for&nbsp;</span></div>
        <span class="quote">{{searchQuery}}</span>
        <sorting-view></sorting-view>
    </div>
    <div ng-switch on="isClustered" class="searchResultContent1">
        <div ng-switch-when="true">
            <div ng-include="'/app/search/tpl/searchClustersView.html'"></div>
        </div>
        <div ng-switch-when="false">
            <div ng-include="'/app/search/tpl/searchResultView.html'"></div>
        </div>
        <loading-spin my-state="searchComplete"></loading-spin>
    </div>
</div>